<div class="container">
  <div #divPai class="retangulo-grande">
    <div #divTelaEsquerda class="quadrado-grande">
      <div class="retangulo-pequeno">
        <span>{{tipoVoto}}</span>
        <hr class="linha">
      </div>
      <div class="retangulo-medio">
<div style="display: flex; flex-direction: column;">
        <div class="dados">

          <div class="nome">Numero:</div>
          <app-dados-quadrado [numero]="numero1"></app-dados-quadrado>
          <app-dados-quadrado [numero]="numero2"></app-dados-quadrado>
        <app-dados-quadrado [numero]="numero3"></app-dados-quadrado>
        </div>
        <div>
          <span>Nome: {{nomeProfessor}}</span>
        </div>
      </div>
        <div class="foto">
          <div class="quadrado-foto"></div>
        </div>
      </div>
    </div>

    <div #divBotoesDireita class="linha-direita">
      <app-retangulo-vertical (numerodigitado)="pintarnumeronatela($event)"></app-retangulo-vertical>
      <app-retangulo-horizontal
      (branco)="onBranco()"
      (corrige)="onCorrige()"
      (confirma)="onConfirma()">

      </app-retangulo-horizontal>
    </div>
  </div>
</div>




